html{
    background-color: aqua;
    font-size: 14px;
}
fieldset{
    margin: 0px;
    padding: 0px;
    background-color: ghostwhite;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
label{
    margin: 0px;
    padding: 0px;
}
input{
    margin: 0px;
    padding: 0px;
}
.container{
    display: absolute;
    width: 700px;
    height: 1000px;
    border: 2px solid black;
    padding: 10px 10px;
    margin: 0px;
}
.top-container{
    display: flex;
    gap: 10px;
    position: relative;
    top: 0px;
    left: 0px;
    width: 590px;
    height: 100px;
    float: left;
}
.middle{
    position: relative;
    top: 10px;
    left: 0px;
    height: 450px;
    float: left;
    padding: 0px;
    margin: 0px;
}
.footer{
    display: flex;
    position: relative;
    top: 20px;
    height: 210px;
    width: 590px;
    float: left;
}

/*character name formating*/
#character_name-field{
    width: 200px;
    height: 80px
}

/*character decription formating*/
#character_description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 480px;
    height: 100px;
}
.input-spacing{
    width: 33%;
}

/*ability-scores formating*/
#ability-scores{
    width: 80px;
    height: 530px
}
.main-ability-scores-spacing{
    width: 60px;
}
.sub-ability-scores-spacing{
    width: 60px;
}


/*inpiration, profficiency, saves, and skills formating */
#skills-saves-prof{
    width: 170px;
    height: 530px
}

#proficiency{
    height: 30px;
    width: 50%;
}

#saving_throw_box-label{
    height: 120px;
    display: flex;
    flex-direction: column;
}

#skills-label{
    height: 350px;
    display: flex;
    flex-direction: column;
}

/*current status formating*/
#current_status-attacks{
    width: 200px;
    height: 530px
}
 #current_status{
    height: 450px;
}   


/*Personality and Features formating*/
#personality_and_features{
    width: 235px;
    height: 530px
}

#features{
    height:250px;
}

/*Passive Perception and equipment and other*/
#pp-other_proficiencies{
    display: flex;
    flex-direction: column;
    width:270px;
}
#equipment{
    width:155px;
}
#traits-fieldset{
    width:255px;
}